import(shiny)
import(venn)
import(fastdigest)
importFrom("utils", "packageDescription", "remove.packages", "capture.output")
importFrom("stats", "glm", "predict", "quasibinomial", "binom.test", "cutree", "dist", "hclust", "na.omit", "dbinom", "setNames")
importFrom("grDevices", "dev.cur", "dev.new", "dev.list")
importFrom("graphics", "abline", "axis", "box", "mtext", "par", "title", "text")
importFrom("methods", "is")

useDynLib(QCA, .registration = TRUE)

export(.onAttach,
    allExpressions,
    agteb,
    alteb,
    as.panel,
    asNumeric,
    calibrate,
    causalChain,
    combinations,
    compute,
    createMatrix,
    deMorgan,
    eqmcc,
    export,
    factorize,
    findmin,
    findRows,
    findSubsets,
    findSupersets,
    findTh,
    fuzzyand,
    fuzzyor,
    getInfo,
    getRow,
    getNoflevels,
    intersection,
    makeChart,
    minimize,
    minimizeLoop,
    modelFit,
    negate,
    pof,
    pofind,
    prettyTable,
    recode,
    rebuild,
    removeRedundants,
    retention,
    runGUI,
    setRownames,
    setColnames,
    setDimnames,
    solveChart,
    sop,
    superSubset,
    translate,
    truthTable,
    uninstall,
    validateNames,
    verify.data,
    verify.dir.exp,
    verify.minimize,
    verify.inf.test,
    verify.qca,
    verify.mqca,
    verify.multivalue,
    verify.tt,
    Xplot,
    XYplot,
    
    possibleNumeric,
    
    dashes,
    hastilde,
    tilde1st,
    notilde,
    trimstr,
    nec,
    suf,
    splitstr,
    getName,
    getBigList,
    splitMainComponents,
    splitBrackets,
    removeSingleStars,
    splitPluses,
    splitStars,
    splitTildas,
    solveBrackets,
    simplifyList,
    negateValues,
    removeDuplicates,
    getNonChars,
    splitProducts,
    insideBrackets,
    outsideBrackets,
    curlyBrackets,
    roundBrackets,
    
    getSolution,
    prettyString,
    rowDominance,
    sortMatrix,
    sortVector,
    writePrimeimp,
    writeSolution
)

S3method(print, "aE")
S3method(print, "chain")
S3method(print, "deMorgan")
S3method(print, "factorize")
S3method(print, "fuzzy")
S3method(print, "intersection")
S3method(print, "modelFit")
S3method(print, "mqca")
S3method(print, "panel")
S3method(print, "pic")
S3method(print, "pof")
S3method(print, "qca")
S3method(print, "sS")
S3method(print, "translate")
S3method(print, "tt")

