useDynLib(QCA)
export(.onAttach,
    allExpressions,
    base3rows,
    calibrate,
    createChart,
    createMatrix,
    createString,
    demoChart,
    deMorgan,
    deMorganLoop,
    eqmcc,
    eqmccLoop,
    factorize,
    findSubsets,
    findSupersets,
    findTh,
    fuzzyand,
    fuzzyor,
    getRow,
    getSolution,
    is.deMorgan,
    is.pof,
    is.qca,
    is.tt,
    is.sS,
    pof,
    prettyString,
    prettyTable,
    print.aE,
    print.deMorgan,
    print.fctr,
    print.pof,
    print.qca,
    print.mqca,
    print.pic,
    print.sS,
    print.tt,
    retention,
    rowDominance,
    solveChart,
    sortMatrix,
    sortVector,
    superSubset,
    truthTable,
    verify.data,
    verify.dir.exp,
    verify.expl,
    verify.inf.test,
    verify.qca,
    verify.mqca,
    verify.tt,
    writePrimeimp,
    writeSolution)
import(lpSolve)
importFrom("utils", "packageDescription")
